In [ ]:
#librerias
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [ ]:
#Coneción con la base de datos a usar
engine = create_engine('sqlite:///chinook.db')
engine

Engine(sqlite:///chinook.db)

# Extract

In [ ]:
#tabla de Customers 
metadata = MetaData()
metadata.create_all(engine)
inspector = inspect(engine)
ins = inspector.get_columns('customers')

# Transform

In [ ]:
#tabla Customers
with engine.connect() as con:
    
    rs = con.execute('SELECT * FROM customers')
    
    for row in rs:
        print(row)
con.close()

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)
(3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)
(4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4)
(5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)
(6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5)
(7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5)
(8, 'Daan', 'Peeters', None, 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4)
(9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4)
(10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)
(11, 'Alexandre', 'Rocha', 'Banco do Brasil S.A.', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', '+55 (11) 3055-3278', '+55 (11) 3055-8131', 'alero@uol.com.br', 5)
(12, 'Roberto', 'Almeida', 'Riotur', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', '+55 (21) 2271-7000', '+55 (21) 2271-7070', 'roberto.almeida@riotur.gov.br', 3)
(13, 'Fernanda', 'Ramos', None, 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', '+55 (61) 3363-5547', '+55 (61) 3363-7855', 'fernadaramos4@uol.com.br', 4)
(14, 'Mark', 'Philips', 'Telus', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', '+1 (780) 434-4554', '+1 (780) 434-5565', 'mphilips12@shaw.ca', 5)
(15, 'Jennifer', 'Peterson', 'Rogers Canada', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', '+1 (604) 688-2255', '+1 (604) 688-8756', 'jenniferp@rogers.ca', 3)
(16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', '+1 (650) 253-0000', '+1 (650) 253-0000', 'fharris@google.com', 4)
(17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com', 5)
(18, 'Michelle', 'Brooks', None, '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', '+1 (212) 221-3546', '+1 (212) 221-4679', 'michelleb@aol.com', 3)
(19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', '+1 (408) 996-1010', '+1 (408) 996-1011', 'tgoyer@apple.com', 3)
(20, 'Dan', 'Miller', None, '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', None, 'dmiller@comcast.com', 4)
(21, 'Kathy', 'Chase', None, '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', '+1 (775) 223-7665', None, 'kachase@hotmail.com', 5)
(22, 'Heather', 'Leacock', None, '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', None, 'hleacock@gmail.com', 4)
(23, 'John', 'Gordon', None, '69 Salem Street', 'Boston', 'MA', 'USA', '2113', '+1 (617) 522-1333', None, 'johngordon22@yahoo.com', 4)
(24, 'Frank', 'Ralston', None, '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', '+1 (312) 332-3232', None, 'fralston@gmail.com', 3)
(25, 'Victor', 'Stevens', None, '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', '+1 (608) 257-0597', None, 'vstevens@yahoo.com', 5)
(26, 'Richard', 'Cunningham', None, '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', '+1 (817) 924-7272', None, 'ricunningham@hotmail.com', 4)
(27, 'Patrick', 'Gray', None, '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', '+1 (520) 622-4200', None, 'patrick.gray@aol.com', 4)
(28, 'Julia', 'Barnett', None, '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', '+1 (801) 531-7272', None, 'jubarnett@gmail.com', 5)
(29, 'Robert', 'Brown', None, '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', '+1 (416) 363-8888', None, 'robbrown@shaw.ca', 3)
(30, 'Edward', 'Francis', None, '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', '+1 (613) 234-3322', None, 'edfrancis@yachoo.ca', 3)
(31, 'Martha', 'Silk', None, '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', '+1 (902) 450-0450', None, 'marthasilk@gmail.com', 5)
(32, 'Aaron', 'Mitchell', None, '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', '+1 (204) 452-6452', None, 'aaronmitchell@yahoo.ca', 4)
(33, 'Ellie', 'Sullivan', None, '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', '+1 (867) 920-2233', None, 'ellie.sullivan@shaw.ca', 3)
(34, 'João', 'Fernandes', None, 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, '+351 (213) 466-111', None, 'jfernandes@yahoo.pt', 4)
(35, 'Madalena', 'Sampaio', None, 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, '+351 (225) 022-448', None, 'masampaio@sapo.pt', 4)
(36, 'Hannah', 'Schneider', None, 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', '+49 030 26550280', None, 'hannah.schneider@yahoo.de', 5)
(37, 'Fynn', 'Zimmermann', None, 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', '+49 069 40598889', None, 'fzimmermann@yahoo.de', 3)
(38, 'Niklas', 'Schröder', None, 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', '+49 030 2141444', None, 'nschroder@surfeu.de', 3)
(39, 'Camille', 'Bernard', None, '4, Rue Milton', 'Paris', None, 'France', '75009', '+33 01 49 70 65 65', None, 'camille.bernard@yahoo.fr', 4)
(40, 'Dominique', 'Lefebvre', None, '8, Rue Hanovre', 'Paris', None, 'France', '75002', '+33 01 47 42 71 71', None, 'dominiquelefebvre@gmail.com', 4)
(41, 'Marc', 'Dubois', None, '11, Place Bellecour', 'Lyon', None, 'France', '69002', '+33 04 78 30 30 30', None, 'marc.dubois@hotmail.com', 5)
(42, 'Wyatt', 'Girard', None, '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', '+33 05 56 96 96 96', None, 'wyatt.girard@yahoo.fr', 3)
(43, 'Isabelle', 'Mercier', None, '68, Rue Jouvence', 'Dijon', None, 'France', '21000', '+33 03 80 73 66 99', None, 'isabelle_mercier@apple.fr', 3)
(44, 'Terhi', 'Hämäläinen', None, 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', '+358 09 870 2000', None, 'terhi.hamalainen@apple.fi', 3)
(45, 'Ladislav', 'Kovács', None, 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', None, None, 'ladislav_kovacs@apple.hu', 3)
(46, 'Hugh', "O'Reilly", None, '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, '+353 01 6792424', None, 'hughoreilly@apple.ie', 3)
(47, 'Lucas', 'Mancini', None, 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', '+39 06 39733434', None, 'lucas.mancini@yahoo.it', 5)
(48, 'Johannes', 'Van der Berg', None, 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', '+31 020 6223130', None, 'johavanderberg@yahoo.nl', 5)
(49, 'Stanisław', 'Wójcik', None, 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', '+48 22 828 37 39', None, 'stanisław.wójcik@wp.pl', 4)
(50, 'Enrique', 'Muñoz', None, 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', '+34 914 454 454', None, 'enrique_munoz@yahoo.es', 5)
(51, 'Joakim', 'Johansson', None, 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', '+46 08-651 52 52', None, 'joakim.johansson@yahoo.se', 5)
(52, 'Emma', 'Jones', None, '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', '+44 020 7707 0707', None, 'emma_jones@hotmail.com', 3)
(53, 'Phil', 'Hughes', None, '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', '+44 020 7976 5722', None, 'phil.hughes@gmail.com', 3)
(54, 'Steve', 'Murray', None, '110 Raeburn Pl', 'Edinburgh ', None, 'United Kingdom', 'EH4 1HH', '+44 0131 315 3300', None, 'steve.murray@yahoo.uk', 5)
(55, 'Mark', 'Taylor', None, '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', '+61 (02) 9332 3633', None, 'mark.taylor@yahoo.au', 4)
(56, 'Diego', 'Gutiérrez', None, '307 Macacha Güemes', 'Buenos Aires', None, 'Argentina', '1106', '+54 (0)11 4311 4333', None, 'diego.gutierrez@yahoo.ar', 4)
(57, 'Luis', 'Rojas', None, 'Calle Lira, 198', 'Santiago', None, 'Chile', None, '+56 (0)2 635 4444', None, 'luisrojas@yahoo.cl', 5)
(58, 'Manoj', 'Pareek', None, '12,Community Centre', 'Delhi', None, 'India', '110017', '+91 0124 39883988', None, 'manoj.pareek@rediff.com', 3)
(59, 'Puja', 'Srivastava', None, '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', '+91 080 22289999', None, 'puja_srivastava@yahoo.in', 3)

# Load

In [ ]:
#Realizar una consulta que devuelva el nombre del artista y el recuento total de pistas de las 10 mejores bandas de rock.
import pandas as pd

df1 = pd.read_sql_query("""SELECT 
  ar.ArtistId AS "ID Artista", 
  ar.Name AS "Artista", 
  COUNT(tr.Name) AS "Total de Pistas" 
FROM 
  artists ar 
  JOIN albums al ON al.ArtistId = ar.ArtistId 
  JOIN tracks tr ON al.AlbumId = tr.AlbumId 
  JOIN genres ge ON tr.GenreId = ge.GenreId 
WHERE 
  ge.Name = 'Rock' 
GROUP BY 
  ar.ArtistId, 
  ar.Name, 
  ge.Name 
ORDER BY 
  COUNT(tr.Name) DESC 
LIMIT 
  10;""", 
                       con=engine.connect())
df1.head()

   ID Artista       Artista  Total de Pistas
0          22  Led Zeppelin              114
1         150            U2              112
2          58   Deep Purple               92
3          90   Iron Maiden               81
4         118     Pearl Jam               54

In [ ]:
#¿Qué artistas han ganado más según las lineas de facturas (InvoiceLines)?
import pandas as pd

df2 = pd.read_sql_query("""SELECT 
  ar.Name AS "Nombre artista", ge.Name AS "Género", 
  SUM(il.Quantity * il.UnitPrice) AS "Total de compra" 
FROM 
  artists ar 
  JOIN albums al ON ar.ArtistId = al.ArtistId 
  JOIN tracks tr ON al.AlbumId = tr.AlbumId
  JOIN genres ge ON tr.AlbumId = ge.GenreId  
  JOIN invoice_items il ON tr.TrackId = il.TrackId 
  JOIN invoices i ON il.InvoiceId = i.InvoiceId 
  JOIN customers c ON i.CustomerId = c.CustomerId 
GROUP BY 
  ar.Name 
ORDER BY 
  SUM(il.Quantity * il.UnitPrice) DESC 
LIMIT 
  10;""", 
                       con=engine.connect())
df2.head()

                Nombre artista              Género  Total de compra
0                Chico Buarque         Alternative            26.73
1  Chico Science & Nação Zumbi               Opera            24.75
2               Caetano Veloso              Comedy            20.79
3                        AC/DC  Alternative & Punk            15.84
4              Bruce Dickinson            TV Shows            11.88

In [ ]:
#Realizar una consulta que determine el cliente que más ha gastado en música por cada país.
import pandas as pd

df3 = pd.read_sql_query("""WITH t1 AS (
  SELECT 
    c.FirstName AS "Nombre", 
    c.LastName AS "Apellido", 
    c.Country País, 
    SUM(i.Total) TotalGastado 
  FROM 
    customers c 
    JOIN invoices i ON c.CustomerId = i.CustomerId 
  GROUP BY 
    c.FirstName
) 
SELECT 
  t1.* 
FROM 
  t1 
  JOIN(
    SELECT 
      País, 
      MAX(TotalGastado) AS MaxTotalGastado 
    FROM 
      t1 
    GROUP BY 
      País
  ) t2 ON t1.País = t2.País 
WHERE 
  t1.TotalGastado = t2.MaxTotalGastado 
ORDER BY 
  País""", 
                       con=engine.connect())
df3.head()

   Nombre   Apellido       País  TotalGastado
0   Diego  Gutiérrez  Argentina         37.62
1    Mark     Taylor  Australia         75.24
2  Astrid     Gruber    Austria         42.62
3    Daan    Peeters    Belgium         37.62
4    Luís  Gonçalves     Brazil         39.62

In [ ]:
#¿Cuál es el género musical más popular de cada país?
import pandas as pd
df4 = pd.read_sql_query("""WITH t1 AS (
  SELECT 
    c.Country País, 
    ge.Name Género, 
    COUNT(i.InvoiceId) TotalCompras 
  FROM 
    invoices i 
    JOIN customers c ON i.CustomerId = c.CustomerId 
    JOIN invoice_items il ON i.InvoiceId = il.InvoiceId 
    JOIN tracks tr ON il.TrackId = tr.TrackId 
    JOIN genres ge ON tr.GenreId = ge.GenreId 
  GROUP BY 
    País, 
    Género 
  ORDER BY 
    País, 
    COUNT(i.InvoiceId) DESC
) 
SELECT 
  t1.* 
FROM 
  t1 
  JOIN (
    SELECT 
      MAX(TotalCompras) AS MaxCompras, 
      País 
    FROM 
      t1 
    GROUP BY 
      País
  ) t2 ON t1.País = t2.País 
WHERE 
  t1.TotalCompras = t2.MaxCompras;""", 
                       con=engine.connect())
df4.head()

        País              Género  TotalCompras
0  Argentina  Alternative & Punk             9
1  Argentina                Rock             9
2  Australia                Rock            22
3    Austria                Rock            15
4    Belgium                Rock            21

In [ ]:
#Realizar una consulta que determine el cliente que más ha gastado en música por cada país.
import pandas as pd
df5 = pd.read_sql_query("""
SELECT DISTINCT
       c.FirstName AS "Nombre",
       c.LastName  AS "Apellido",
	   c.Email     AS "Correo electrónico",
       ge.Name      AS "Nombre de género"
  FROM customers c JOIN invoices i 
    ON c.CustomerId = i.CustomerId JOIN invoice_items il
    ON i.InvoiceId = il.InvoiceId JOIN tracks tr 
    ON il.TrackId = tr.TrackId JOIN genres ge 
    ON tr.GenreId = ge.GenreId 
 WHERE ge.Name = "Rock" 
ORDER BY c.Email;""", 
                       con=engine.connect())
df5.head()

      Nombre  Apellido        Correo electrónico Nombre de género
0      Aaron  Mitchell    aaronmitchell@yahoo.ca             Rock
1  Alexandre     Rocha          alero@uol.com.br             Rock
2     Astrid    Gruber    astrid.gruber@apple.at             Rock
3      Bjørn    Hansen     bjorn.hansen@yahoo.no             Rock
4    Camille   Bernard  camille.bernard@yahoo.fr             Rock

In [ ]:
#Exportar a fuente de datos destino
df1.to_csv('dataframe1.csv', index=False)
df2.to_csv('dataframe2.csv', index=False)
df3.to_csv('dataframe3.csv', index=False)
df4.to_csv('dataframe4.csv', index=False)
df5.to_csv('dataframe5.csv', index=False)

In [ ]:

import pandas as pd
df1 = pd.read_sql_query("""SELECT 
  c.FirstName || " " || c.LastName AS "Clientes",
  ar.Name AS "Nombre artista", ge.Name AS "Género", 
  SUM(il.Quantity * il.UnitPrice) AS "Dinero gastado",
  COUNT(i.InvoiceId) AS "Total de compras",
  TIME(SUM(tr.Milliseconds)/ 1000, 'unixepoch' ) AS "Tiempo de reproducción de pistas"
FROM 
  artists ar 
  JOIN albums al ON ar.ArtistId = al.ArtistId 
  JOIN tracks tr ON al.AlbumId = tr.AlbumId
  JOIN media_types mt ON tr.MediaTypeId = mt.MediaTypeId
  JOIN genres ge ON tr.AlbumId = ge.GenreId  
  JOIN invoice_items il ON tr.TrackId = il.TrackId 
  JOIN invoices i ON il.InvoiceId = i.InvoiceId 
  JOIN customers c ON i.CustomerId = c.CustomerId 
  JOIN employees e ON e.EmployeeId = e.EmployeeId
GROUP BY 
  ar.Name 
ORDER BY 
  SUM(il.Quantity * il.UnitPrice) DESC 
LIMIT 
  10;""", 
                       con=engine.connect())
df1.head()

             Clientes  ... Tiempo de reproducción de pistas
0     Puja Srivastava  ...                         14:04:03
1      Aaron Mitchell  ...                         11:26:53
2  Richard Cunningham  ...                         10:33:42
3      Fernanda Ramos  ...                         09:26:00
4   François Tremblay  ...                         08:45:21

[5 rows x 6 columns]